<header class="flex justify-between items-center py-5 mx-auto px-3">
    <nav class="flex flex-row gap-x-7">
        <a href="#home" class="hover:text-gray-500 transition">Inicio</a>
        <a href="#experience" class="hover:text-gray-500 transition">Experiencia</a>
        <a href="#projects" class="hover:text-gray-500 transition">Proyectos</a>
        <a href="#contact" class="hover:text-gray-500 transition">Contacto</a>
    </nav>
</header>